main {
  display: flex;
}
.content {
  width: 1000px;
  margin: 0 5em 0 15em;
  margin-top: 10px;
  order: -1;
}
.about {
  margin: auto;
  margin-top: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.option {
  padding: 6.85em 8em;
  border: 2px solid aliceblue;
}

.option h2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

.sm {
  padding: 6.1em 5em;
  text-transform: uppercase;
}
.iconSm {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.isi h1 {
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.isi p {
  text-align: justify;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.container:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.wrap {
  display: flex;
  gap: 20px;
}

.html {
  background-color: #f16529;
}

.css {
  background-color: #13a2de;
}

.js {
  background-color: #f8da59;
}

.sql {
  background-color: #087dd7;
}

.python {
  background-color: #306998;
}
